
/* HOME PAGE */
.container {
  padding: 0 2rem;
  background-image: url('/background-images/backgroundMountain.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  flex:1;
  flex-direction:column;
  justify-content: left;
  align-items: left;
  background-color: transparent;
  line-height: 1.5;
  padding-top: 25%;
  min-height: 100vh;
  margin-left: 25%;
  margin-right: 30%;
}


.line{
  border-top: 4px solid var(--secondary-color);
  border-bottom: 0px;
  width: 75%;
  margin-left: 0;
  border-radius: 3px;
}

.buttonCont{
  display: flex; 
}

.button{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

.button:hover{
  background-color: white;
  color: var(--quaternary-color);
}

.homeArrow{
  display:flex;
  position: sticky;
  justify-content: right;
  background-color: transparent;
  bottom: 100px;
}

/* ABOUT PAGE */

.aboutContainer {
  background-color: var(--quaternary-color);

}

.aboutMain{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 25%;
  margin-right: 30%;
}


.aboutHeading{
  margin: 100px auto;
  text-align: center;
  font-size: 30px;
  max-width: 600px;
  position: relative;
}

.aboutHeading:before{
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: var(--secondary-color);
  left: 0;
  top: 50%;
  position: absolute;
}

.aboutHeading:after{
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: var(--secondary-color);
  right: 0;
  top: 50%;
  position: absolute;
}


#carouselImage{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  margin: 40px 0px;

}

.imagesOnSlide{
  width: 100%;
  height: 250px;
}

.backImageButton{
  position: absolute;
  top: 50%;
  right: 65%;
  opacity: 100%;
}

.backImageButton:hover{
  opacity: 80%;
}

.nextImageButton{
  position: absolute;
  top: 50%;
  right: 30%;
  opacity: 100%;
}

.nextImageButton:hover{
  opacity:80%;
}

#testOnImageHere{
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 46%;
  left: 30%;
  right: 30%;
  background-color: rgba(16, 46, 53, 0.5);
  padding: 10px;
  margin: 0px 50px;
}

/* CONTACT */

.contactMain{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 25%;
    margin-right: 30%;
}

.contactHeading{
  display: flex;
  margin: 100px auto;
  text-align: center;
  font-size: 30px;
  max-width: 600px;
  position: relative;
}


.contactHeading:before{
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: var(--secondary-color);
  left: 0;
  top: 50%;
  position: absolute;
}

.contactHeading:after{
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: var(--secondary-color);
  right: 0;
  top: 50%;
  position: absolute;
}






.table{
  display: flex;
  flex-direction: row;
}

#firstName, #lastName, #email{
  background-color: white;
  width: 100%;
}


/* COMPONENTS */

.arrowCont{
  display:flex;
  position: sticky;
  justify-content: right;
  background-color: transparent;
  top: 500px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .aboutHeading:before{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--secondary-color);
    left: 0;
    top: 50%;
    position: absolute;
  }
  
  .aboutHeading:after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--secondary-color);
    right: 0;
    top: 50%;
    position: absolute;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
